{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row fill-screen-80 align-items-center text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h1>Create a New User</h1>

                <hr>

                <form id="createUserForm" method="POST" action="{{ url_for('web_app.create_user_page') }}">
                    {{ form.csrf_token }}
                    <div class="form-group">

                        <input type="name" class="form-control mb-3" placeholder="Name" id="{{ form.name.name }}" name="{{ form.name.name }}">
                        {% if form.errors.name is defined %}
                        {% for e in form.errors.name %}
                        <p class="text-danger">{{ e }}</p>
                        {% endfor %}
                        {% endif %}

                        <input type="email" class="form-control mb-3" placeholder="Email" id="{{ form.email.name }}"
                            name="{{ form.email.name }}">
                        {% if form.errors.email is defined %}
                        {% for e in form.errors.email %}
                        <p class="text-danger">{{ e }}</p>
                        {% endfor %}
                        {% endif %}

                        <input type="password" class="form-control mb-3" placeholder="Password" id="{{ form.password.name }}"
                            name="{{ form.password.name }}" value="{{ random_pass }}">
                        {% if form.errors.password is defined %}
                        {% for e in form.errors.password %}
                        <p class="text-danger">{{ e }}</p>
                        {% endfor %}
                        {% endif %}

                        <input type="password" class="form-control mb-3" placeholder="Confirm Password" id="{{ form.confirm_password.name }}"
                            name="{{ form.confirm_password.name }}" value="{{ random_pass }}">
                        {% if form.errors.confirm_password is defined %}
                        {% for e in form.errors.confirm_password %}
                        <p class="text-danger">{{ e }}</p>
                        {% endfor %}
                        {% endif %}

                        <button type="submit" class="btn btn-primary my-4 px-5">Submit</button>

                    </div>
                </form>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}