{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{device.key.id().upper()}} Info</h1>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Inventory Id</th>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>OS</th>
                            <th>Availability</th>
                            <th>User</th>
                            {% if current_user.is_admin() %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{device.key.id().upper()}}</td>
                            <td>{{device.manufacturer}}</td>
                            <td>{{device.model}}</td>
                            <td>{{device.os}}</td>
                            {% if device.availability %}
                            <td><span class="badge badge-pill badge-success">Available</span></td>
                            {% else %}
                            <td><span class="badge badge-pill badge-warning">Taken</span></td>
                            {% endif %}
                            {% if device.user_key %}
                            <td>{{device.user_key.id()}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if current_user.is_admin() %}
                            <td>
                                <a href="{{ url_for('web_app.edit_device_page', device_id=device.key.id()) }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Edit</a>
                                <a href="#" class="btn btn-danger btn-sm" role="button" aria-pressed="true" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                            </div>
                                            <div class="modal-body">
                                                Delete device and associated transactions?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <form method="POST" action="{{ url_for('web_app.delete_device_handler', device_id=device.key.id()) }}">
                                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>History</h1>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>User</th>
                            <th>Operation</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in device_history %}
                        <tr>
                            <td>{% if item.user_key %}{{item.user_key.id()}}{% endif %}</td>
                            <td>{{item.operation.capitalize()}}</td>
                            <td>{{item.transaction_date.strftime('%c')}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}