{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Inventory</h1>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Inventory Id</th>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>Status</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.name}}</td>
                            <td>{{user.get_id()}}</td>
                            <td>{{user.get_id()}}</td>
                            <td>{{user.get_id()}}</td>
                            <td>{{user.get_id()}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}