{% extends "base.html" %}

{% block styles %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Inventory</h1>
                <table id="inventory" class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Inventory ({{ device_count }})</th>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>OS</th>
                            <th>Availability</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td><a href="{{ url_for('web_app.device_page', device_id=device.key.id())}}">{{device.key.id().upper()}}</a></td>
                            <td>{{device.manufacturer}}</td>
                            <td>{{device.model}}</td>
                            <td>{{device.os}}</td>
                            {% if device.availability %}
                            <td><span class="badge badge-pill badge-success">Available</span></td>
                            {% else %}
                            <td><span class="badge badge-pill badge-warning">Taken</span></td>
                            {% endif %}
                            {% if device.user_key %}
                            <td>{{device.user_key.id()}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#inventory').DataTable();
} );
</script>
{% endblock %}
