{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Users List</h1>
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.name}} {% if user.is_admin() %}<span class="badge badge-pill badge-info">admin</span>{% endif %}</td>
                            <td>{{user.get_id()}}</td>
                            <td>
                                {% if current_user == user or current_user.is_admin() %}
                                <a class="btn btn-sm btn-primary" href="#" role="button">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}